.app-container {
  background-image: url('./mtn.jpg');
  height: 100vh;
  width: 960px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
}

.list {
  list-style-type: none;
  margin-left: 20%;
}

.table {
  display: flex;
  border: 1px solid;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  width: 40vw;
  align-items: center;
}

.completed {
  text-decoration: line-through;
}

.btn {
  background-color: rgb(132, 132, 216);
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid rgb(150, 8, 8);
  border-color: rgb(187, 11, 11) transparent rgb(206, 102, 102) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
